.test-con{
    width:300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    flex-shrink: 0;
}


.test-img{
    width: 45%;
}